.rate-container {
  display: flex;
  flex-wrap: wrap;

  .card-rate {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      background-color: var(--bg-one);
      color: var(--text-white);
    }

    &:first-child {
      border: solid 2px rgb(246, 255, 0);
    }

    &:nth-child(2) {
      border: solid 2px rgb(255, 0, 0);
    }

    &:nth-child(3) {
      border: solid 2px rgb(0, 255, 0);
    }
  }
}
