.users-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;

  .user {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--text-white);
  }

  .user-walpaper {
    width: 350px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  .user-body {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100px;
    padding: 1rem;
    .user-avatar {
      position: absolute;
      top: -50px;
      left: 15px;
      width: 100px;
      border: solid 5px var(--text-white);
      border-radius: 50%;
    }

    .description {
      h2,
      p {
        width: fit-content;
      }
    }
  }
}
